form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

form input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 25px 50px;
}
li {
  list-style: none;
  border: 1px solid black;
  padding: 30px;
  flex: 1 0 150px;
}